<form nz-form nzLayout="vertical">
  <nz-form-item>
    <nz-form-label [nzSpan]="5">游戏启动文件</nz-form-label>
    <nz-form-control [nzSpan]="18">
      <div style="display: flex;">
        <nz-select name="exePath" [(ngModel)]="gameImportService.setting.exeFile">
          <nz-option *ngFor="let exe of gameImportService.exeSelections" [nzValue]="exe" [nzLabel]="exe"></nz-option>
        </nz-select>

        @if(gameImportService.isSteam) {
          <div style="margin-left: 15px; display: flex; align-items: center; cursor: pointer;" nz-tooltip nzTooltipTitle="将通过 Steam 启动游戏">
            <fa-icon [icon]="iconService.brands.faSteam" style="font-size: 18px;"></fa-icon>
          </div>
        }
      </div>

    </nz-form-control>
  </nz-form-item>
</form>
