<form nz-form [formGroup]="forgetPasswordForm" (ngSubmit)="submitForgetPasswordForm()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">邮箱</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入合法邮箱地址">
      <input nz-input formControlName="email" id="email" />
    </nz-form-control>
  </nz-form-item>
  @if(!id) {
    <div nz-row>
      <div nz-col [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary" [disabled]="this.forgetPasswordForm.controls.email.invalid" (click)="requestForgetPassword()" [nzLoading]="requestForgetPasswordLoading">发送验证码</button>
      </div>
    </div>
  }

  @if(id) {
    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzFor="code"
        nzRequired
      >
        <span>验证码</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入验证码">
        <input nz-input id="code" formControlName="code" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>密码</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入新密码">
        <input
          nz-input
          type="password"
          id="password"
          formControlName="password"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row>
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary" [disabled]="forgetPasswordForm.invalid">确认</button>
      </nz-form-control>
    </nz-form-item>
  }
</form>
