.game-cover-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 715px) {
  .game-cover-container {
    width: 100%;
  }
}

@media screen and (min-width: 830px) and (max-width: 715px) {
  .game-cover-container {
    width: 50%;
  }
}

@media screen and (min-width: 715px) and (max-width: 960px) {
  .game-cover-container {
    width: 50%;
  }
}

@media screen and (min-width: 830px) and (max-width: 1000px) {
  .game-cover-container {
    width: 33.33332%;
    // width: calc((100vw - 240px) / 3)
  }
}

@media screen and (min-width: 1000px) and (max-width: 1300px) {
  .game-cover-container {
    width: 25%;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1500px) {
  .game-cover-container {
    width: 20%;
  }
}

@media screen and (min-width: 1500px) and (max-width: 1800px) {
  .game-cover-container {
    width: 16.66667%;
  }
}

@media screen and (min-width: 1800px) {
  .game-cover-container {
    width: 14.285714%
  }
}

// .cdk-drag-placeholder {
//   opacity: 0.4;
//   // display: none;
// }

// .cdk-drag-animating {
//   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
// }

// .cdk-drop-list-dragging {
//   // justify-content: flex-start;
//   .cdk-drag:not(.cdk-drag-placeholder) {
//     display: none;
//   }
// }

// .game-cover-list.cdk-drop-list-dragging .game-cover-container:not(.cdk-drag-placeholder) {
//   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
// }

// .cdk-drag-preview {
//   box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
//               0 8px 10px 1px rgba(0, 0, 0, 0.14),
//               0 3px 14px 2px rgba(0, 0, 0, 0.12);
// }
