.table-container {
  nz-table {
    height: 100%;
  }

  ::ng-deep {
    nz-pagination {
      padding-right: 10px;
    }

    nz-spin {
      height: 100%;
      & > div {
        height: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        .ant-table {
          flex: 1;
          height: 0;
          nz-table-inner-default {
            height: 100%;
            .ant-table-content {
              height: 100%;
              overflow: auto;
            }
          }
          nz-table-inner-scroll {
            height: 100%;
            display: flex;
            flex-direction: column;

            .ant-table-header {
              flex-shrink: 0;
            }

            .ant-table-body {
              max-height: unset !important;
              overflow: auto !important;
              flex: 1;
            }
          }
        }
      }
    }
  }
}
